.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  // padding-bottom: 2rem;
  height: 100vh;
  // padding: 0 2rem 2rem 2rem;
  gap: 3.2rem;

  .title {
    font-size: 5vw;
    // margin-bottom: 1rem;
    order: 1;
    font-family: "Switzer-Regular";
    color: var(--gray-12);

    span {
      font-family: "Switzer-Bold";
      color: var(--accent-12);
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }

  .info {
    font-family: "Lemon", Georgia;
    font-size: 16vw;
    font-weight: bold;
    order: 0;
    width: 100%;
    line-height: 1;

    text-align: justify;
    display: block;

    color: var(--accent-12);

    span {
      display: block;
      color: var(--accent-11);
    }
  }

  .image {
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    border: 2px solid var(--accent-12);
  }

  .contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    order: 2;
    width: 100%;
    height: 20vh;
    gap: 1rem;
    flex-wrap: wrap;

    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: auto;
      // gap: 0.8rem;

      .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        svg {
          height: 30px;
          // padding: 25px;
          transition: fill 0.2s;
          cursor: pointer;
          fill: var(--accent-11);

          path {
            // color: var(--accent-11);
            fill: var(--accent-11);
          }
        }

        .text {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .presentation {
    padding-top: 4rem;
  }
}
