.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  // padding-bottom: 2rem;
  min-height: 90vh;
  // padding: 0 2rem 2rem 2rem;
  // gap: 6.4rem;

  .title {
    // text-align: start;
    font-size: 1.5rem;
    font-weight: 400;
    // margin-bottom: 1rem;
    order: 1;
  }

  .content {
    display: flex;
    flex-direction: row;

    width: 100%;
    gap: auto;
  }

  .info {
    display: flex;
    // font-family: "Lemon", sans-serif;

    // font-size: 42px;
    font-family: "Lemon", Georgia;
    // display: flex;
    // text-align: start;
    font-size: 16vw;
    font-weight: bold;
    // line-height: auto;
    // height: auto;
    align-items: center;
    // justify-content: flex-start;
    // margin-bottom: 1rem;
    order: 0;
    width: 100%;
    line-height: 16vw;

    // text-align: justify;
    display: block;

    span {
      display: block;
    }
  }

  .image {
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
  }

  .contacts {
    order: 2;
  }
}

@media only screen and (min-width: 600px) {
  .presentation {
    padding-top: 4rem;
  }
}
